<div class="level">
  <div class="level-left title">
    <h1 style="color:green;"> Montreal EDH league </h1>
  </div>
</div>

<%= render layout: 'components/nav_bar', locals: { title: 'Listing Games' } do %>
  <%= link_to 'Create a New Game', new_game_path, class: 'button is-light' %>
<% end %>

<table class="table is-bordered">
  <thead>
    <tr>
      <th>Game</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.played_at, game_path(game) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
