<%= render partial: 'components/nav_bar', locals: {
  title: 'Create New Game'
} %>

<%= form_with model: @game, url: games_path, method: :post, local: true do |f| %>
  <h2> Played at: </h2>
  <%= f.date_select :played_at, order: %i[day month year], include_blank: true %>
  <br>
  <%= f.submit %>
<% end %>
