<h1>Player Name: <%= @player.name %></h1>
<tbody>
    <br>
    <tr>
        <td>Player's decks: </td>
        <br>
        <% @player.decks.each do |deck| %>
            <tr>
                <td>
                    <%= deck.name %>
                </td>
                <br>
            </tr>
        <% end %>
    </tr>
    <br>
    <br>
    <h3>
    <h3><%= link_to 'Edit Player', edit_player_path(@player) %></h3>
</tbody>
