<h1>Player Name: <%= @player.name %></h1>

<tbody>
    <br>
      <tr>
        <td>Player's decks: </td>
        <br>
        <% @decks.each do |deck| %>
        <tr>
          <td><%= deck.name %></td>
          <br>
        </tr>
        <% end %>
      </tr>
  </tbody>

