<%= render layout: 'components/nav_bar', locals: { title: @player.name } do %>
<% end %>

<table class="table is-bordered">
  <thead>
    <tr>
      <th>Deck</th>
    </tr>
  </thead>

  <tbody>
    <% @player.decks.each do |deck| %>
      <tr>
        <td>
          <%= deck.name %>
        </td>
        <br>
      </tr>
    <% end %>
  </tbody>
</table>
