<%= render layout: 'components/nav_bar', locals: { title: "#{@player.name}'s player page" } do %>
  <div class="buttons">
    <%= link_to 'Edit Player', edit_player_path(@player), class: 'button is-warning' %>
    <%= link_to 'Delete Player', player_path(@player), data: { 'turbo-method': :delete, turbo_confirm: 'Are you sure?' },
          class: 'button is-danger' %>
  </div>
<% end %>

<table class="table is-bordered">
  <thead>
    <tr>
      <th>Deck</th>
    </tr>
    <br>
    <br>
    <h3>

  </thead>

    <% @player.decks.each do |deck| %>
      <tr>
        <td>
          <%= deck.name %>
        </td>
        <br>
      </tr>
    <% end %>
</table>
