<table class="table is-bordered">
  <thead>
    <tr>
      <%= @deck.name %>
    </tr>
    <h3>

  </thead>
  <tbody>
      <tr>
        <td>
          <%= 'Deck details will eventually go here' %>
        </td>
      </tr>
  </tbody>
</table>
