<table class="table is-bordered">
  <div class="buttons">
    <%= link_to 'Edit Deck', "/players/#{@player.id}/decks/#{@deck.id}/edit", class: 'button is-warning' %>
    <%= link_to 'Delete Deck', "/players/#{@player.id}/decks/#{@deck.id}",
          data: { 'turbo-method': :delete, turbo_confirm: 'Are you sure?' }, class: 'button is-danger' %>
  </div>

  <thead>
    <tr>
      <%= @deck.name %>
    </tr>
    <h3>

  </thead>
  <tbody>
      <tr>
        <td>
          <%= 'Deck details will eventually go here' %>
        </td>
      </tr>
  </tbody>
</table>
